/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/*header start*/
/*header end*/

/*hero start*/
/*hero end*/

/*collected data start*/
/*collected data end*/

/*timer start*/
.counter {
    background-color: white;
    padding: 60px 0px;
    box-shadow: 10px 10px 20px #E9ECE8;
    border-radius: 30px;
}


.close-in {
    display: flex;
    justify-content: center;
}

.clock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}



/*timer end*/

/*what you'll learn start*/
/*what you'll learn end*/

/*course syllabus start*/
/*course syllabus end*/

/*course benefit start*/
/*course benefit end*/

/*pricing start*/
/*pricing end*/

/*student rewiews start*/
/*student rewiews end*/

/*enter email form start*/
/*enter email form end*/

/*course instructors start*/
/*course instructors end*/

/*footer start*/
/*footer end*/

/*button back to top start*/
/*button back to top end*/