/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Merriweather:300,300i,400,400i&amp;display=swap');

/* components */
@import '../components/button.css';

/* CUSTOM STYLE BELOW THIS COMMENT LINE */

/*header start*/

.dropbtn {
    background-color:inherit;
    color: #343a40;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    transition-duration: 0.1s;
}
.dropbtn:hover{
    color: var(--teal);
}
.dropbtnH{
      color: var(--teal);
      background-color:inherit;
      font-size: 20px;
      border: none;
      cursor: pointer;
      font-family: sans-serif;
}
 .dropdown {
    position:relative;
    display: inline-block;
    padding-inline-end: 40px;
    padding-top: 30px;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}
.dropdown-content a {
    color:var(--gray-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-duration: 0.1s;
}
.dropdown-content a:hover{
    color: var(--teal);
}
.dropdown-content a:hover {background-color:var(--white)}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: inherit;
}
.login{
      font-size: 20px;
      color:var(--yellow);
      display: inline-block;
      padding-top: 30px;
      padding-right: 25px;
      font-family: sans-serif;
        
}
 .Pricing{
      font-size: 20px;
      margin-top: 30px;
      display: inline-block;
      padding-right: 30px;
      font-family: sans-serif;
      color:var(--gray-dark);
      text-decoration: none;
      transition-duration: 0.1s;
}
  .Pricing:hover{
      color:var(--teal)
}
  .Joinnow{
      background-color: var(--teal); 
      border: none;
      color: var(--white);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin-top: 15px;
      border-radius: 12px;
      transition-duration: 0.4s;
}
  .Joinnow:hover{
      background-color: var(--yellow);
}
    .Logo{
      display: inline-block;
      margin-top: 30px;
      margin-right: 200px;
      margin-left: 110px;
}
  .dropdown-content > .BtnC{
      color: var(--teal);
        
    }
/*header end*/

/*hero start*/
.learn {
    margin-top: 50px;
}
.learn-ux {
    font-size: 20px;
    color: var(--gray);
    margin-bottom: 60px; 
}
.learn-ux .fa {
    color: var(--yellow);  
}
.learn-ux-title {
    font-size: 60px;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 10px;
}
.learn-ux-lecturer {
    color: var(--teal);
    font-weight: 600;    
}
.learn-ux-text {
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 10px;
    margin-bottom: 36px;
}
.learn-ux-img {
    position: relative;
}
.learn-ux-img-bg {
    z-index: 100;
    width: 100%;
}
.learn-ux-img-l {
    position: absolute;
    left: -75px;
    top: -60px;
    z-index: -1;
    visibility: visible;
}
.learn-ux-img-r {
    position: absolute;
    left: 135px;
    top: 140px;
    z-index: -1;
    visibility: visible;
}
@media (max-width:990px) {
    .learn-ux-img-r,
    .learn-ux-img-l {
        visibility: hidden;
        transform: scale(0);
    }
}
@media (min-width: 991px) {
    .learn-ux-img-r {
        left: 130px;
        top: 140px;
        transform: scale(1);
        transition: transform 0.8s ease;
        transition-delay: 0.2s;
    }
    .learn-ux-img-l {
        transform: scale(1);
        transition: transform 0.8s ease;
        transition-delay: 0.2s;  
    }
    .learn-ux > .btn-underline {
        padding-left: 0;
        padding-right: 4em;
    }
    .learn-ux > .btn-underline::after {
        left:0;
    }
}
@media (min-width: 1199px) {
    .learn-ux-img-r {
        left: 210px;
        top: 210px;
    }
    .learn-ux {
        margin-top: 80px;  
    }
    .learn-ux > .btn-underline {
        padding: 0.9em 2em;
    }
    .learn-ux > .btn-underline::after {
        left:2em;
    }
}
.popup {
    display: none;
    position:fixed;
    left: calc(50% - 450px);
    top: calc(50% - 253px);
    width: 900px;
    height: 506px;
    z-index: 100;
  }
  .exit {
    position: absolute;
    left: 900px;
    font-size: 30px;
    top: -30px;
    left: 880px;
    transform: rotate(45deg);
    text-decoration: none;
    color: var(--gray-dark);
  }
  .exit:hover {
      color: var(--white);
  }
 @media (max-width: 991px){
     .popup {
         top: 200px;
         padding: 10px;
         width: 100vw;
         height: calc(100vw * 0.562);
         left: calc(50% - 50vw);
     }
     .exit {
        position: absolute;
        left:calc(100vw - 30px);
        top:-20px;
     }
 }
/*hero end*/

/*collected data start*/
.colldata {
    text-align: center;
    white-space: nowrap;
}

.coda {
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    font-family: var(--heading-font);
}

.codatext {
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    line-height: 40px;
    font-weight: lighter;
}

@media  (max-width: 991px) {
    .colldata {
        white-space: normal;
        padding: 20px;
    }

    .coda {
        margin-top: 20px;
        line-height: 26px;
    }
}


@media  (max-width: 767px) {
    .colldata {
        padding: 0;
    }    
    .coda {
        margin-top: 25px;
        font-size: 26px;
        line-height: 30px;
    }
    .codatext {
        font-size: 16px;
        line-height: 25px;
    } 
}

@media  (max-width: 380px) {
    .colldata {
        white-space: normal;
    }    
    .coda {
        margin-top: 15px;
        font-size: 24px;
        line-height: 30px;
    }
    .codatext {
        font-size: 12px;
        line-height: 14px;
    }
}
/*collected data end*/

/*timer start*/
.counterBox1 {
    background-color: white;
    padding: 60px 0px;
    box-shadow: 0px 8px 16px #E9ECE8;
    border-radius: 20px;
}

.close-inbox {
    display: flex;
    justify-content: center;
}

.close-in {
    padding: 12px 30px;
    margin-bottom: 30px;
    margin-top: -10px;
    background-color: var(--success-color);
    color: var(--green);
    font-size: 18px;
    font-family: var(--paragraph-font);
    font-weight: bold;
    border-radius: 25px;
}

.counterBox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.time {
    font-size: 60px;
    line-height: 1em;
    text-align: center;
    font-weight: 600;
    font-family: var(--heading-font);
}

.timetext {
    font-size: 20px;
    text-align: center;
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

@media  (max-width: 450px) {
    .time {
        font-size: 50px;
    }
    .timetext {
        font-size: 15px;
    }
}

@media  (max-width: 370px) {
    .counterBox2 {
        gap: 20px;
        flex-wrap: wrap;
    }    
    .time {
        font-size: 30px;
    }
    .timetext {
        font-size: 12px;
    }
}
/*timer end*/

/*what you'll learn start*/
/*what you'll learn end*/

/*course syllabus start*/
/*course syllabus end*/

/*course benefit start*/
/*course benefit end*/

/*pricing start*/
/*pricing end*/

/*student rewiews start*/
/*student rewiews end*/

/*enter email form start*/
/*enter email form end*/

/*course instructors start*/
/*course instructors end*/

/*footer start*/
/*footer end*/

/*button back to top start*/
/*button back to top end*/